---
layout: default.hbs
title: Home Page
---

<h1 class="heading -large">assemble-static-boilerplate</h1>

<h3 class="heading -medium">This static site was generated entirely by Assemble, Gulp, and Browserify! <a href="/team.html">View team page (example of using data files)</a></h3>

<img src="images/gulp.png" height="100">
<img src="images/browserify.png" height="100">